.menu {
    background-color: #f8f8f8;
    padding: 20px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Category button styles */
.dropbtn {
    background-color: #730314;
    color: white;
    padding: 15px 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 10px 10px 0;
    /* Add space on top, right, bottom, and remove margin on left */
    transition: background-color 0.3s;
}

/* Change button background color on hover */
.dropbtn:hover {
    background-color: #58100f;
    /* Darken the color on hover */
}

/* Style for the dropdown content */
.item {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Show the dropdown content when the "active" class is added */
.active {
    display: block;
}

/* Style for the item details */
.item span {
    display: block;
    font-weight: bold;
    font-family: 'Special Elite', sans-serif;
}

.item p {
    margin-top: 5px;
    color: #666;
}

.category-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    /* Add space below the title */
    font-family: 'Special Elite', sans-serif;
}

.view-menu-btn {
    background-color: #730314;
    color: white;
    padding: 15px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    /* Add space to the right of the button */
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

/* Style for the box containing the buttons */
.category {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    /* Add space below the category box */
    border-radius: 8px;
}

/* Change button background color on hover */
.view-menu-btn:hover {
    background-color: #58100f;
    /* Darken the color on hover */
}

.paddingbottom {
    height: 100px;
    padding-bottom: 400px;
}

.description {
    font-family: cursive;
}